<div class="container-big-card">

    <div class="big-card-img">
        <img [src]="imgCover" alt="Imagem card principal" height="310px">
    </div>

    <!-- <div class="big-card-img-subtitle">

    </div> -->

    <div class="big-card-title">
        <h1><a [routerLink]="['/content', id]">{{ cardTitle }}</a></h1>
    </div>

    <div class="big-card-description">
        <p>
            <a [routerLink]="['/content', id]">
                {{ cardDescription }}
            </a>
        </p>
    </div>

</div>