<app-menu-title></app-menu-title>

<div class="container-articles">

    <div class="principal-card">
        <app-big-card 
            imgCover="https://w0.peakpx.com/wallpaper/571/466/HD-wallpaper-angular-programming-computer.jpg"
            id="1"
            cardTitle="Saiu a nova versão do Angular"
            cardDescription="Mussum Ipsum, cacilds vidis litro abertis. Leite de capivaris, leite de mula manquis sem cabeça. Manduma
            pindureta quium dia nois paga. Nullam volutpat risus nec leo commodo, ut interdum diam laoreet."></app-big-card>
    </div>

    <div class="secundary-cards">
        <app-small-card 
            id="2"
            imgCover="http://lorempixel.com.br/500/400/?1" cardTitle="Memes da Atualidade"
            link="http://lorempixel.com.br/"></app-small-card>

        <app-small-card 
            id="3"
            imgCover="http://lorempixel.com.br/500/400/?2" cardTitle="Saiu a nova versão do Angular "
            link="http://lorempixel.com.br/"></app-small-card>

        <app-small-card 
            id="4"
            imgCover="http://lorempixel.com.br/500/400/?3" cardTitle="Saiu a nova versão do Angular "
            link="http://lorempixel.com.br/"></app-small-card>

    </div>
</div>